.calculator {
    width: 400px;
    margin: 50px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: pink;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}        

.calculator #display {
    width: calc(100% - 40px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffe8e8;
}

.calculator button:hover {
    background-color: #fff7f7;
}

.btn{
    width: 100px;
    float: center;
    margin: 10px;
}