*{
    margin: 0;
    padding: 0;
    font-family: Berlin Sans FB;
    box-sizing: border-box;
  }
  
#main_logo{
    width: 200px;
    margin-left: 15px;
    margin-right: 50px;
}

/*#search_div{
    float: left;
}*/

#search{
    width: 200px;
    margin-top: 15px;
    height: .5in;
}

#myapps_gif {
    position: absolute;
    margin-top: -60px;
    margin-left: -85px;
    width: auto; /* Automatically adjust width */
    max-height: 1in; /* Set maximum height */
    overflow: hidden; /* Hide overflow */
}

.card {
    display: flex;
    flex-direction: column;
    height: 97%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card1, #card2, #card3 {
    background-color:rgb(255, 221, 221);
    width: 90%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#card1:hover, #card2:hover, #card3:hover {
    background-color: rgb(255, 197, 197);
    transform: scale(1.05);
}

.card-title {
    margin-top: -55px;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.btn {
    width: 87%;
    margin: 20px;
}

#icons{
    width: 90%;
    margin: 20px;
}
